<!DOCTYPE html>
<html>
<head><title>Bus Stops of Perth and Kinross</title></head>
<body>
 
<h1>Bus Stops of Perth and Kinross</h1>
    
    
<h3>Find a bus stop in Perth and Kinross</h3>
<p>The official identification for each and every bus stop in Perth and Kinross</p>
<p><a href={{ url_for('bus_stops') }}>List of Bus Stops</a> | <a href={{ url_for('details') }}>Bus Stops Details</a></p>
<p>Click on above links to find bus stops information</p>

<p>Powered by National Public Transport Access Nodes (NaPTAN)</p>
</body>
</html>